
.login-box{
    max-width: 100%;
    width: 100%;
    padding: 0;
    background: #fdfcf0;
    z-index: 99999;
    float: left;
    border: 1px solid #000;
}

.title{
    background-color: #e71a0f;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    padding: 20px 20px 10px;
    text-align: center;
}